@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@500;600;700;800&display=swap");
html, body {
  margin: 0;
  padding: 0;
  background-color: #FCFBFD;
  font-family: "Manrope", sans-serif;
  position: relative;
}

.overflow-hidden {
  overflow: hidden !important;
}

.yellow {
  background-color: #FFEAAB !important;
}

.pink {
  background-color: #FDE7F3 !important;
}

* {
  transition: 0.2s;
}

a {
  text-decoration: none;
  color: #000;
}
a:hover {
  color: #000;
}

p {
  margin-bottom: 0;
}

i {
  cursor: pointer;
}

.solid-action-btn {
  background-color: #3E1A51;
  color: #ffffff;
  border: none;
  margin-left: 1rem;
  padding: 0.35rem 1rem;
  box-shadow: 0 0px 8px rgba(0, 0, 0, 0.13);
  border-radius: 45px;
  font-size: 18px;
  font-weight: 500;
}
.solid-action-btn:hover {
  background-color: #fff;
  color: #3E1A51;
  border: 1px solid #3E1A51;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1607843137);
}

.label {
  background-color: #FFF5D9;
  color: #FBBC05;
  padding: 6px 12px;
  border-radius: 25px;
  font-size: 14px;
}

.heading {
  font-size: 48px;
  font-weight: 800;
  margin: 16px 0;
}

.sub-heading {
  font-size: 18px;
  color: #36485C;
}

header {
  position: sticky;
  top: 0;
  padding: 0px 50px;
  background-color: #FCFBFD;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.062745098);
  display: grid;
  grid-template-columns: 165px auto 300px;
  z-index: 10;
}
header .brand {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}
header .brand a img {
  width: 150px;
}
header .menu, header .cta-menu {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
header .menu li, header .cta-menu li {
  list-style: none;
  padding: 5px 24px;
}
header .menu li a, header .cta-menu li a {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
}
header .menu li a img, header .menu li a i, header .cta-menu li a img, header .cta-menu li a i {
  margin-left: 5px;
}
header .menu li a i, header .cta-menu li a i {
  font-size: 14px;
}
header .menu li a:hover, header .cta-menu li a:hover {
  font-weight: 700;
}

section {
  padding: 70px 0 50px;
}

.hero-area-bg {
  background-image: url(../images/background.svg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  /*min-height: 650px;*/
  min-height: 100vh;
  position: relative;
  overflow: hidden;
  padding: 70px 0 0px;
  display: flex;
  align-items: center;
}
.hero-area-bg::before {
  content: "";
  position: absolute;
  top: 5%;
  margin: auto;
  z-index: 1;
  left: 0px;
  width: 270px;
  height: 675px;
  background-image: url(../images/vector1.png);
  background-repeat: no-repeat;
}
.hero-area-bg::after {
  content: "";
  position: absolute;
  top: 15%;
  margin: auto;
  z-index: 1;
  right: 0;
  width: 270px;
  height: 675px;
  background-image: url(../images/vector2.png);
  background-repeat: no-repeat;
}
.hero-area-bg .container {
  z-index: 2;
}
.hero-area-bg .container .announce {
  border: 2px solid #eee;
  padding: 8px 16px;
  border-radius: 18px;
}
.hero-area-bg .container .announce img {
  margin-right: 8px;
}
.hero-area-bg .container .contents {
  margin: 3rem 0;
}
.hero-area-bg .container .contents .head-title {
  font-weight: 800;
  font-size: 4rem;
  letter-spacing: 1.5px;
  margin-bottom: 2.5rem;
}
.hero-area-bg .container .contents .description {
  font-size: 18px;
  font-weight: 500;
}
.hero-area-bg .container .join-us input {
  padding: 0.5rem 1rem;
  box-shadow: 0 0px 4px rgba(0, 0, 0, 0.13);
  border-radius: 45px;
  border: none;
  font-size: 12px;
}
.hero-area-bg .container .join-us input::-moz-placeholder {
  color: #C5C5C5;
}
.hero-area-bg .container .join-us input::placeholder {
  color: #C5C5C5;
}
.hero-area-bg .container .join-us button {
  font-size: 12px;
  padding: 0.5rem 1rem;
}
.hero-area-bg .container .explore-features {
  margin: 150px 0 0px;
}
.hero-area-bg .container .explore-features .title {
  margin: 16px 0 25px;
  font-size: 32px;
  font-weight: 800;
}
.hero-area-bg .container .explore-features .features .item {
  margin: 40px 0;
}
.hero-area-bg .container .explore-features .features .item h5 {
  margin: 16px 0;
  font-weight: 700;
}
.hero-area-bg .container .explore-features .features .fade {
  opacity: 0.5;
}
.hero-area-bg .container .explore-features .features .solid-action-btn {
  padding: 20px 30px;
  font-size: 16px;
  margin-left: 0;
}
.hero-area-bg .floating-elements .background {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.hero-area-bg .floating-elements .background li {
  position: absolute;
  list-style: none;
  display: flex;
  align-items: center;
}
.hero-area-bg .floating-elements .background li:first-child {
  top: 27vh;
  left: 5vw;
  padding: 8px 20px;
  border-radius: 25px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.13);
  background-color: #fff;
  z-index: 2;
}
.hero-area-bg .floating-elements .background li:first-child img {
  width: 35px;
  margin-left: 5px;
}
.hero-area-bg .floating-elements .background li:nth-child(2) {
  top: 27vh;
  left: 75vw;
}
.hero-area-bg .floating-elements .background li:nth-child(3) {
  top: 75vh;
  left: 10vw;
  padding: 8px 10px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.13);
}
.hero-area-bg .floating-elements .background li:nth-child(4) {
  top: 65vh;
  left: 25vw;
}
.hero-area-bg .floating-elements .background li:nth-child(5) {
  top: 70vh;
  left: 75vw;
  padding: 8px 20px;
  border-radius: 25px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.13);
  background-color: #fff;
  z-index: 2;
}
.hero-area-bg .floating-elements .background li:nth-child(5) img {
  width: 20px;
  margin-left: 5px;
}

.what-makes-better .info .imgdesk, .what-makes-better2 .info .imgdesk {
  background-color: #FDE7F3;
  padding: 22px 12px;
  border-radius: 8px;
}
.what-makes-better .info .title, .what-makes-better2 .info .title {
  font-weight: 800;
  margin: 16px 0 0;
}
.what-makes-better .info small, .what-makes-better2 .info small {
  font-size: 14px;
}
.what-makes-better .info .yellow, .what-makes-better2 .info .yellow {
  background-color: #FFEAAB;
}

.what-makes-better2 .label {
  background-color: #FDE7F3 !important;
  color: #3E1A51;
}
.what-makes-better2 .info {
  padding-left: 2rem;
}
.what-makes-better2 .info p {
  font-size: 16px;
}
.what-makes-better2 .info h5 {
  font-size: 42px;
  font-weight: 600;
  margin: 16px 0;
}
.what-makes-better2 .info li {
  list-style: none;
}
.what-makes-better2 .info li i {
  margin-right: 12px;
  color: #3E1A51;
}
.what-makes-better2 .info a {
  color: #3E1A51;
  font-size: 12px;
  font-weight: 700;
}
.what-makes-better2 img {
  width: 100%;
}

@media (max-width: 991px) {
  #hero-area {
    min-height: initial;
    align-items: flex-start;
  }
}/*# sourceMappingURL=main.css.map */