@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@500;600;700;800&display=swap");
html {
  scroll-behavior: smooth;
}

html, body {
  margin: 0;
  padding: 0;
  background-color: #FCFBFD;
  font-family: "Manrope", sans-serif;
  position: relative;
}

.overflow-hidden {
  overflow: hidden !important;
}

.yellow {
  background-color: #ffeed0 !important;
  border-radius: 25px;
}

.pink {
  background-color: #fbe2f6 !important;
  border-radius: 25px;
}

* {
  transition: 0.2s;
}

a {
  text-decoration: none;
  color: #000;
}

p {
  margin-bottom: 0;
}

i {
  cursor: pointer;
}

@media (max-width: 992px) {
  .m-margin-20 {
    margin-bottom: 20px;
  }
}

.solid-action-btn {
  background-color: #3E1A51;
  color: #ffffff;
  border: none;
  margin-left: 1rem;
  padding: 0.35rem 1rem;
  box-shadow: 0 0px 8px rgba(0, 0, 0, 0.13);
  border-radius: 45px;
  font-size: 18px;
  font-weight: 500;
}
.solid-action-btn:hover {
  box-shadow: 0 8px 16px rgba(62, 26, 81, 0.5);
  transform: translateY(-2px);
}

.label {
  background-color: #FFF5D9;
  color: #FBBC05;
  padding: 6px 12px;
  border-radius: 25px;
  font-size: 14px;
}

.heading {
  font-size: 42px;
  font-weight: 800;
  margin: 16px 0;
}
@media (max-width: 576px) {
  .heading {
    font-size: 30px;
  }
}

@media (max-width: 576px) {
  .col-reverse {
    flex-direction: column-reverse;
  }
}

.sub-heading {
  font-size: 18px;
  color: #36485C;
}
@media (max-width: 576px) {
  .sub-heading {
    font-size: 17px;
  }
}

.fa-times {
  font-size: 1.5em;
  color: #3E1A51;
}

@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 15px);
  }
  100% {
    transform: translate(0, 0px);
  }
}
@keyframes scrollVertical {
  from {
    height: 0%;
  }
  to {
    height: 100%;
  }
}
@keyframes scrollHorizontal {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
@keyframes fadeUp {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes zoomLeft {
  0% {
    left: -60px;
  }
  100% {
    left: 0px;
  }
}
@keyframes zoomRight {
  0% {
    right: -60px;
  }
  100% {
    right: 0px;
  }
}
.blur-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.3);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  align-items: center;
  justify-content: center;
  overflow: auto;
  animation-name: fadeIn;
  animation-duration: 0.3s;
  z-index: 1000;
}
.blur-overlay .dialog-box {
  background-color: #ffffff;
  margin: auto 10px;
  width: 700px;
  border-radius: 16px;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.24);
  animation-name: fadeUp;
  animation-duration: 0.5s;
  z-index: 10000;
  padding: 16px 25px;
}
.blur-overlay .dialog-box .head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.blur-overlay .dialog-box .head h5 {
  font-weight: bold;
}
.blur-overlay .dialog-box .head .close {
  padding: 0px 8px;
  cursor: pointer;
}
.blur-overlay .dialog-box .content {
  margin: 1rem 0;
}
.blur-overlay .dialog-box .content input::-moz-placeholder {
  color: #C5C5C5;
  font-size: 14px;
}
.blur-overlay .dialog-box .content input::placeholder {
  color: #C5C5C5;
  font-size: 14px;
}
.blur-overlay .dialog-box .content input:focus, .blur-overlay .dialog-box .content select:focus {
  border-color: #fbe2f6 !important;
  box-shadow: 0 0 0 0.25rem #fbe2f6;
}
.blur-overlay .dialog-box .content input[type=number]::-webkit-outer-spin-button,
.blur-overlay .dialog-box .content input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.blur-overlay .dialog-box .content .solid-action-btn {
  padding: 0.75rem 3rem;
}
.blur-overlay .dialog-box .content .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
  margin-bottom: 24px;
}
.blur-overlay .dialog-box .content .loading::before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  animation: loading 1s linear infinite;
}
.blur-overlay .dialog-box .content .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: left;
  padding: 15px;
  margin-bottom: 24px;
  font-weight: 600;
}
.blur-overlay .dialog-box .content .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  margin-bottom: 24px;
  font-weight: 600;
}

header {
  background-color: transparent;
}
header .navbar {
  position: sticky;
  top: 0;
  z-index: 10;
  padding: 10px 40px;
}
header .navbar .container-fluid {
  padding: 0;
}
header .navbar .container-fluid .navbar-brand {
  margin-right: 5rem;
}
header .navbar .container-fluid .navbar-toggler {
  border: none;
}
header .navbar .container-fluid .navbar-toggler .navbar-toggler-icon {
  background-image: url("../images/icon/menu.svg");
}
header .navbar .container-fluid .navbar-toggler:focus {
  box-shadow: none;
}
header .navbar .container-fluid .navbar-toggler .hidden .fa-times {
  font-size: 1.5em;
  color: #3E1A51;
}
header .navbar .container-fluid .navbar-collapse {
  justify-content: space-evenly;
}
header .navbar .container-fluid .navbar-collapse .nav-link {
  color: #000000;
  font-weight: 500;
  padding: 0 1.5rem;
}
header .navbar .container-fluid .navbar-collapse .nav-link::after {
  display: none;
}
header .navbar .container-fluid .d-flex {
  align-items: center;
}
header .navbar .container-fluid .d-flex button {
  font-size: 16px;
}
header .active-head {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 10px 40px;
  background-color: transparent;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.062745098);
}
@media (max-width: 991px) {
  header {
    padding: 0;
  }
  header .navbar, header .active-head {
    padding: 16px 5px;
  }
  header .navbar-brand {
    padding: 0.15rem 1rem;
    margin: 0;
  }
  header .navbar-toggler .hidden {
    display: none;
  }
  header .navbar-toggler .hidden .fa-times {
    font-size: 1.5em;
    color: #3E1A51;
  }
  header .navbar-collapse {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 65px;
    background-color: #fff;
  }
  header .navbar-collapse .navbar-nav .nav-item .nav-link {
    padding: 1rem !important;
    border-bottom: 1px solid #e1e1e1;
    font-size: 14px;
  }
  header .d-flex {
    flex-direction: column-reverse;
    align-items: flex-start !important;
  }
  header .d-flex .nav-item {
    width: 100%;
  }
  header .d-flex .btn {
    padding: 1rem;
  }
  header .d-flex .btn .solid-action-btn {
    display: block;
    font-size: 14px;
    width: 100%;
    border-radius: 5px;
    margin: 0;
  }
}

section {
  padding: 50px 0 25px;
}

.hero-area-bg {
  background-image: url(../images/background.svg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 0;
}
.hero-area-bg::before {
  content: "";
  position: absolute;
  top: 250px;
  margin: auto;
  z-index: 0;
  right: 0;
  width: 270px;
  height: 675px;
  background-image: url(../images/vector2.png);
  background-repeat: no-repeat;
  animation: fadeUp 3s ease-in-out;
}
.hero-area-bg::after {
  content: "";
  position: absolute;
  top: 2%;
  margin: auto;
  z-index: 1;
  left: 0px;
  width: 270px;
  height: 675px;
  background-image: url(../images/vector1.png);
  background-repeat: no-repeat;
  animation: fadeUp 3s ease-in-out;
}

.hero-area {
  min-height: 92vh;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: start;
}
.hero-area .container {
  z-index: 2;
}
.hero-area .container .announce {
  border: 2px solid #eee;
  padding: 8px 16px;
  border-radius: 18px;
  display: inline-block;
}
.hero-area .container .announce img {
  margin-right: 8px;
}
.hero-area .container .contents {
  margin: 8rem 0 3rem 0;
}
.hero-area .container .contents .head-title {
  font-weight: 800;
  font-size: 62px;
  margin-bottom: 2.5rem;
}
.hero-area .container .contents .description {
  font-size: 18px;
  font-weight: 500;
}
.hero-area .container .join-us input {
  padding: 1rem;
  box-shadow: 0 0px 4px rgba(0, 0, 0, 0.13);
  border-radius: 45px;
  border: none;
  font-size: 12px;
  width: 400px;
}
.hero-area .container .join-us input::-moz-placeholder {
  color: #C5C5C5;
}
.hero-area .container .join-us input::placeholder {
  color: #C5C5C5;
}
.hero-area .container .join-us input:focus-visible {
  outline-color: #cdcdcd;
}
.hero-area .container .join-us button {
  font-size: 16px;
  padding: 1rem 2rem;
}
.hero-area .container .join-us button img {
  display: none;
}
.hero-area .floating-elements .background {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.hero-area .floating-elements .background li {
  position: absolute;
  list-style: none;
  display: flex;
  align-items: center;
}
.hero-area .floating-elements .background li:first-child {
  top: 8vh;
  left: 9vw;
  padding: 8px 20px;
  border-radius: 25px;
  box-shadow: 0 12px 28px rgba(0, 0, 0, 0.16);
  background-color: #fff;
  z-index: 2;
  animation: floating 3s ease-in-out infinite;
}
.hero-area .floating-elements .background li:first-child img {
  width: 35px;
  margin-left: 5px;
}
.hero-area .floating-elements .background li:nth-child(2) {
  top: 15vh;
  left: 75vw;
  animation: floating 4s ease-in-out infinite;
}
.hero-area .floating-elements .background li:nth-child(3) {
  top: 50vh;
  left: 10vw;
  padding: 8px 10px;
  border-radius: 8px;
  box-shadow: 0 12px 28px rgba(0, 0, 0, 0.16);
  animation: floating 2s ease-in-out infinite;
}
.hero-area .floating-elements .background li:nth-child(4) {
  top: 65vh;
  left: 25vw;
  animation: floating 5s ease-in-out infinite;
}
.hero-area .floating-elements .background li:nth-child(5) {
  top: 50vh;
  left: 80vw;
  padding: 8px 20px;
  border-radius: 25px;
  box-shadow: 0 12px 28px rgba(0, 0, 0, 0.16);
  background-color: #fff;
  animation: floating 3s ease-in-out infinite;
  z-index: 2;
}
.hero-area .floating-elements .background li:nth-child(5) img {
  width: 20px;
  margin-left: 5px;
}
@media (max-width: 576px) {
  .hero-area .floating-elements {
    display: none;
  }
}
@media (max-width: 992px) {
  .hero-area .floating-elements .background li:first-child {
    top: 2vh;
    font-size: 12px;
  }
  .hero-area .floating-elements .background li:first-child img {
    width: 30px;
    margin-left: 5px;
  }
  .hero-area .floating-elements .background li:nth-child(2) {
    top: 8vh;
    left: 80vw;
  }
  .hero-area .floating-elements .background li:nth-child(3) {
    top: 30vh;
    left: 3vw;
  }
  .hero-area .floating-elements .background li:nth-child(3) img {
    width: 30px;
  }
  .hero-area .floating-elements .background li:nth-child(4) {
    top: 42vh;
    left: 20vw;
  }
  .hero-area .floating-elements .background li:nth-child(5) {
    top: 39vh;
    left: 80vw;
    font-size: 12px;
  }
  .hero-area .floating-elements .background li:nth-child(5) img {
    width: 14px;
    margin-left: 5px;
  }
}

@media (max-width: 992px) {
  .hero-area-bg .container .contents {
    margin: 5rem 0 3rem 0;
  }
  .hero-area-bg .container .contents .head-title {
    font-size: 55px;
  }
}
@media (max-width: 768px) {
  .hero-area-bg .container .contents {
    margin: 5rem 0 3rem 0;
  }
  .hero-area-bg .container .contents .head-title {
    font-size: 45px;
  }
}
@media (max-width: 576px) {
  .hero-area-bg::after {
    top: 55px;
  }
  .hero-area-bg .container .contents {
    margin-top: 50px;
  }
  .hero-area-bg .container .contents .head-title {
    font-size: 31px;
  }
  .hero-area-bg .container .join-us {
    position: relative;
  }
  .hero-area-bg .container .join-us input {
    width: 100%;
  }
  .hero-area-bg .container .join-us .solid-action-btn {
    position: absolute;
    top: 4px;
    right: 4px;
    bottom: 4px;
    padding: 0.25rem 1rem 0.25rem 1.5rem;
  }
  .hero-area-bg .container .join-us .solid-action-btn span {
    display: none;
  }
  .hero-area-bg .container .join-us .solid-action-btn img {
    display: block;
  }
}
@media (max-width: 991px) {
  #hero-area {
    min-height: 45vh;
    align-items: flex-start;
  }
}
.explore-features {
  padding: 50px 0;
  overflow: hidden;
}
.explore-features .carousel .carousel-indicators {
  position: unset;
  flex-direction: column;
  margin-left: 0;
  margin-right: 0px;
  padding-right: 30px;
}
.explore-features .carousel .carousel-indicators [data-bs-target] {
  text-indent: 0;
  width: unset;
  height: unset;
  background-color: transparent;
  margin-bottom: 16px;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  white-space: wrap;
  border-top: none;
  border-bottom: none;
}
.explore-features .carousel .carousel-indicators .item {
  position: relative;
  margin-bottom: 16px;
  text-align: left;
}
.explore-features .carousel .carousel-indicators .item h5 {
  font-size: 18px;
  margin: 0px 0 16px;
  font-weight: 700;
}
.explore-features .carousel .carousel-indicators .item p {
  font-size: 12px;
}
.explore-features .carousel .carousel-indicators .item a {
  display: block;
  font-size: 16px;
  font-weight: 700;
  margin-top: 16px;
}
.explore-features .carousel .carousel-indicators .item .scroll-path {
  width: 4px;
  background-color: #dfdfdf;
  position: absolute;
  top: 0;
  bottom: 0;
  left: -16px;
  border-radius: 12px;
  overflow: hidden;
  display: none;
}
.explore-features .carousel .carousel-indicators .item .scroll-path::before {
  content: "";
  position: absolute;
  width: 5px;
  background-color: #3E1A51;
  animation: scrollVertical 4s ease-in-out infinite;
}
.explore-features .carousel .carousel-indicators .item:hover .scroll-path::before {
  animation-play-state: paused;
}
.explore-features .carousel .carousel-indicators .solid-action-btn {
  padding: 14px 32px;
  font-size: 16px;
  margin-left: 0;
}
.explore-features .carousel .carousel-indicators .active .item .scroll-path {
  display: block;
}
@media (max-width: 992px) {
  .explore-features .carousel .carousel-indicators {
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: space-between;
    padding: 4px;
  }
  .explore-features .carousel .carousel-indicators [data-bs-target] {
    padding: 8px 12px;
    margin-right: 16px;
    margin-bottom: 8px;
  }
}
.explore-features .carousel .owl-carousel {
  display: none;
}
.explore-features .carousel .carousel-inner {
  width: 115%;
  box-shadow: 0px 20px 30px rgba(186, 186, 186, 0.9411764706);
  border-radius: 10px;
  overflow: hidden;
}
.explore-features .carousel .carousel-inner .carousel-item .dashboard-image {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 12px;
  box-shadow: 0px 56px 232px -56px rgba(0, 0, 0, 0.2509803922);
}
@media (max-width: 992px) {
  .explore-features .carousel .carousel-indicators {
    display: inline-block;
  }
  .explore-features .carousel .carousel-inner {
    width: 100%;
    height: inherit !important;
  }
  .explore-features .carousel .join-btn {
    text-align: center;
    margin-top: 1.5rem;
  }
}
@media (max-width: 576px) {
  .explore-features .carousel .carousel-indicators {
    display: none;
  }
  .explore-features .carousel .carousel-inner {
    display: none;
    width: 100%;
    height: inherit !important;
  }
  .explore-features .carousel .owl-carousel {
    display: block;
  }
  .explore-features .carousel .owl-carousel .item {
    position: relative;
    margin-bottom: 16px;
    text-align: left;
  }
  .explore-features .carousel .owl-carousel .item .img {
    margin-bottom: 16px;
  }
  .explore-features .carousel .owl-carousel .item h5 {
    font-size: 18px;
    margin: 0px 0 16px;
    font-weight: 700;
  }
  .explore-features .carousel .owl-carousel .item p {
    font-size: 12px;
  }
  .explore-features .carousel .owl-carousel .item a {
    display: block;
    font-size: 16px;
    font-weight: 700;
    margin-top: 16px;
  }
  .explore-features .carousel .owl-carousel .item .scroll-path {
    height: 4px;
    background-color: #dfdfdf;
    position: absolute;
    top: 102%;
    bottom: 0;
    left: 0px;
    right: 0;
    border-radius: 12px;
    overflow: hidden;
  }
  .explore-features .carousel .owl-carousel .item .scroll-path::before {
    content: "";
    position: absolute;
    height: 4px;
    background-color: #3E1A51;
    animation: scrollHorizontal 8s ease-in-out infinite;
  }
  .explore-features .carousel .owl-carousel .item:hover .scroll-path::before {
    animation-play-state: paused;
  }
  .explore-features .carousel .join-btn {
    text-align: center;
    margin-top: 1.5rem;
  }
}
.explore-features .tools-step .step {
  text-align: center;
  transition: 1s;
}
.explore-features .tools-step .step p {
  margin: auto 20px 20px;
}
.explore-features .tools-step .step p .highlight {
  font-weight: bold;
  color: #9B0E8E;
  text-transform: uppercase;
}
.explore-features .tools-step .step img {
  width: 90%;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1882352941);
}
.explore-features .tools-step .two, .explore-features .tools-step .three, .explore-features .tools-step .four {
  display: none;
}
.explore-features .title {
  margin: 16px 0 25px;
  font-size: 32px;
  font-weight: 800;
}
.explore-features .solid-action-btn {
  padding: 14px 32px;
  font-size: 16px;
  margin-left: 0;
}
.explore-features .features .item {
  position: relative;
}
.explore-features .features .item h5 {
  font-size: 18px;
  margin: 16px 0;
  font-weight: 700;
}
.explore-features .features .item p {
  font-size: 12px;
}
.explore-features .features .item a {
  display: block;
  font-size: 16px;
  font-weight: 700;
  margin-top: 16px;
}
.explore-features .features .item .scroll-path {
  width: 4px;
  background-color: #dfdfdf;
  position: absolute;
  top: 0;
  bottom: 0;
  left: -16px;
  border-radius: 12px;
  overflow: hidden;
}
.explore-features .features .item .scroll-path::before {
  content: "";
  position: absolute;
  width: 5px;
  background-color: #3E1A51;
  background-size: 60% 120%;
  animation: scroll 4s ease-in-out infinite;
}
.explore-features .features .item:hover .scroll-path::before {
  animation-play-state: paused;
}
@media (max-width: 576px) {
  .explore-features {
    padding: 70px 0 0;
  }
}

.what-makes-better .info, .what-makes-better2 .info {
  padding: 0 55px;
}
.what-makes-better .info .imgdesk, .what-makes-better2 .info .imgdesk {
  background-color: #fbe2f6;
  padding: 22px 12px;
  border-radius: 8px;
}
.what-makes-better .info .title, .what-makes-better2 .info .title {
  font-weight: 800;
  margin: 27px 0 9px;
}
.what-makes-better .info small, .what-makes-better2 .info small {
  font-size: 14px;
  line-height: 2;
}
.what-makes-better .info .yellow, .what-makes-better2 .info .yellow {
  background-color: #ffeed0;
}
@media (max-width: 576px) {
  .what-makes-better .info, .what-makes-better2 .info {
    padding: 0 10px;
  }
}

.what-makes-better2 .label {
  background-color: #fbe2f6 !important;
  color: #3E1A51;
}
.what-makes-better2 .info {
  padding-left: 2rem;
}
.what-makes-better2 .info p {
  font-size: 16px;
}
.what-makes-better2 .info h5 {
  font-size: 41px;
  font-weight: 600;
  margin: 16px 0;
}
.what-makes-better2 .info li {
  list-style: none;
  line-height: 3;
}
.what-makes-better2 .info li i {
  margin-right: 12px;
  color: #3E1A51;
}
.what-makes-better2 .info a {
  color: #3E1A51;
  font-size: 16px;
  font-weight: 700;
}
.what-makes-better2 img {
  width: 100%;
}
@media (max-width: 992px) {
  .what-makes-better2 .info {
    padding: 0.5rem;
  }
  .what-makes-better2 .info h5 {
    font-size: 24px;
  }
}
@media (max-width: 576px) {
  .what-makes-better2 .info {
    padding: 0.5rem;
  }
  .what-makes-better2 .info h5 {
    font-size: 23px;
  }
}

.blogs .label {
  background-color: #fbe2f6 !important;
  color: #3E1A51;
}
.blogs .card {
  border: none;
  background-color: transparent;
}
.blogs .card img {
  width: 100%;
}
.blogs .card .body {
  margin: 16px 0;
}
.blogs .card .body .label {
  font-weight: 600;
  padding: 2px 12px;
  font-size: 12px;
}
.blogs .card .body .time {
  color: #949494;
  font-size: 12px;
}
.blogs .card .body .content {
  padding: 16px 0 0;
  font-weight: 800;
  color: #36485C;
  font-size: 16px;
}
.blogs .card .footer a {
  font-weight: 700;
  font-size: 16px;
  color: #3E1A51;
}
.blogs .card .footer a i {
  font-size: 12px;
}

.faq {
  background-color: #fff;
}
.faq .label {
  background-color: #fbe2f6 !important;
  color: #3E1A51;
}
.faq .accordion {
  min-width: 700px;
}
.faq .accordion .accordion-item {
  width: 100%;
}
.faq .accordion .accordion-item button:focus {
  border: none;
  box-shadow: 0 0 0 0.25rem #fbe2f6;
}
.faq .accordion .accordion-item button:not(.collapsed) {
  color: #000000;
  background-color: #fbe2f6;
}
@media (max-width: 991px) {
  .faq .heading {
    font-size: 25px;
  }
  .faq .accordion {
    min-width: inherit;
  }
  .faq .accordion .accordion-item button {
    padding: 1rem 0;
  }
}

.ready-to-explore {
  background-color: #3E1A51;
}
.ready-to-explore h3 {
  font-weight: 600;
}
.ready-to-explore h3, .ready-to-explore p {
  color: #fff;
}
.ready-to-explore p {
  margin: 25px 0;
}
.ready-to-explore input {
  width: 50%;
  padding: 0.75rem 1rem;
  border-radius: 10px;
  font-size: 14px;
  border: none;
}
.ready-to-explore input::-moz-placeholder {
  color: #C5C5C5;
  font-size: 12px;
}
.ready-to-explore input::placeholder {
  color: #C5C5C5;
  font-size: 12px;
}
.ready-to-explore .solid-action-btn {
  background-color: #FBBC05;
  border-radius: 10px;
  padding: 0.5rem 1rem;
  font-size: 16px;
  margin: 0 8px;
  font-weight: 700;
}
.ready-to-explore .solid-action-btn:hover {
  color: #fff;
}
.ready-to-explore .solid-action-btn img {
  display: none;
}
.ready-to-explore .image {
  position: relative;
}
.ready-to-explore .image img {
  width: 100%;
}
.ready-to-explore .image .note-img {
  position: absolute;
  background-color: #fbe2f6;
  border: 5px solid #fff;
  padding: 0.5rem;
  border-radius: 8px;
  top: 15%;
  left: -16px;
  box-shadow: 0px 4px 45px 0px rgba(0, 0, 0, 0.2509803922);
}
@media (max-width: 992px) {
  .ready-to-explore h3 {
    font-size: 25px;
  }
  .ready-to-explore .col-sm-12 {
    position: relative;
  }
  .ready-to-explore .col-sm-12 input {
    width: 100%;
  }
  .ready-to-explore .col-sm-12 .solid-action-btn {
    position: absolute;
    top: 5px;
    right: 10px;
  }
  .ready-to-explore .col-sm-12 .solid-action-btn span {
    display: none;
  }
  .ready-to-explore .col-sm-12 .solid-action-btn img {
    display: block;
  }
}
@media (max-width: 576px) {
  .ready-to-explore h3 {
    font-size: 26px;
  }
  .ready-to-explore .col-sm-12 {
    position: relative;
  }
  .ready-to-explore .col-sm-12 input {
    width: 100%;
  }
  .ready-to-explore .col-sm-12 .solid-action-btn {
    position: absolute;
    top: 5px;
    right: 10px;
  }
  .ready-to-explore .col-sm-12 .solid-action-btn span {
    display: none;
  }
  .ready-to-explore .col-sm-12 .solid-action-btn img {
    display: block;
  }
}

.terms-condition h1 {
  font-size: 28px;
  font-weight: 800;
}
.terms-condition h2 {
  font-size: 1.25rem;
  font-weight: 600;
}
.terms-condition .pdf {
  width: 100%;
  aspect-ratio: 4/3;
  border-radius: 10px;
}

footer {
  padding: 70px 0 0px;
  overflow: hidden;
}
footer .brand img {
  width: 200px;
}
footer .mb-4 {
  color: #36485C;
  font-weight: 500;
}
footer .social-media {
  display: flex;
  align-items: center;
}
footer .social-media p {
  font-size: 14px;
  margin-right: 10px;
}
footer .social-media a {
  display: inline-block;
  position: relative;
  margin-right: 0.5rem;
  font-size: 1.25rem;
  color: #3E1A51;
}
footer .social-media a img {
  width: 1.25rem;
  margin-bottom: 0.3rem;
}
footer p {
  font-weight: 700;
  margin: 0 0 0.3rem;
}
footer .links .link {
  display: block;
  margin: 0 0 0.3rem;
  padding: 5px 0;
  font-size: 14px;
  color: #36485C;
  transition: all 0.3s ease-in-out;
}
footer .links .link i {
  margin-right: 4px;
}
footer img {
  width: 100%;
}

.adlinks {
  padding: 0.75rem;
  font-size: 14px;
}
.adlinks a {
  color: #36485C;
}
@media (max-width: 576px) {
  .adlinks {
    font-size: 12px;
  }
}/*# sourceMappingURL=main.css.map */