@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;600;700;800&display=swap');
$primary-color: #3E1A51;
$secondary-color: #9B0E8E;
$light-color: #fff;
$light-grey: #eee;



html, body{
    margin: 0;
    padding: 0;
    background-color: #FAFAFA;
    font-family: 'Manrope', sans-serif;
    position: relative;
}

.overflow-hidden{
    overflow: hidden !important;
}

*{
    transition: 0.2s;
}

a{
    text-decoration: none;
    color: #000;
    &:hover{
        color: #000;
    }
}
p{
    margin-bottom: 0;
}
i{
    cursor: pointer;
}
.solid-action-btn{
    background-color: $primary-color;
    color: #ffffff;
    border: none;
    margin-left: 1rem;
    padding: 0.35rem 1rem;
    box-shadow: 0 0px 8px rgba(0, 0, 0, 0.13);
    border-radius: 45px;
    font-size: 18px;
    font-weight: 500;
    &:hover{
        background-color: $light-color;
        color: $primary-color;
        border: 1px solid $primary-color;
        box-shadow: 0 4px 16px #00000029;
    }
}

header{
    position: sticky;
    top: 0;
    padding: 0px 50px;
    background-color: $light-color;
    box-shadow: 0 4px 8px #00000010;
    display: grid;
    grid-template-columns: 165px auto 300px;
    z-index: 10;
    .brand{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1rem;
        a{
            img{
                width: 150px;
            }
        }
    }
    .menu , .cta-menu{
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        li{
            list-style:none;
            padding: 5px 24px;
            a{
                display: flex;
                align-items: center;
                text-decoration: none;
                font-size: 16px;
                font-weight: 600;
                img,i{
                    margin-left: 5px;
                }
                i{
                    font-size: 14px;
                }
                &:hover{
                    font-weight: 700;
                }
            }
        }
    }
}

#hero-area {
    background-image: url(../images/background.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    /*min-height: 650px;*/
    min-height: 100vh;
    position: relative;
    overflow: hidden;
    padding: 20px 0 80px;
    display: flex;
    align-items: center;
    &::before{
        content: "";
        position: absolute;
        top: 15%;
        margin: auto;
        z-index: 1;
        left: 0px;
        width: 270px;
        height: 675px;
        background-image: url(../images/vector1.png);
        background-repeat: no-repeat;
    }
    &::after{
        content: "";
        position: absolute;
        top: 35%;
        margin: auto;
        z-index: 1;
        right: 0;
        width: 270px;
        height: 675px;
        background-image: url(../images/vector2.png);
        background-repeat: no-repeat;

    }
    .container{
        z-index: 2;
        .announce{
            border: 2px solid $light-grey;  
            padding: 8px 16px;
            border-radius: 18px;
            img{
              margin-right: 8px;
            }
          }
          .contents{
              margin: 3rem 0;
              .head-title{
                  font-weight: 800;
                  font-size: 4rem;
                  letter-spacing: 1.5px;
                  margin-bottom: 2.5rem;
              }
              .description{
                  font-size: 18px;
                  font-weight: 500;
              }
          }
          .join-us{
              input{
                  padding: 0.5rem 1rem;
                  box-shadow: 0 0px 4px rgba(0, 0, 0, 0.13);
                  border-radius: 45px;
                  border: none;
                  font-size: 16px;
                  &::placeholder{
                    font-size: 12px;
                    color: #C5C5C5;
                  }
              }
              button{
                  font-size: 16px;
              }
          }
    }
    .floating-elements{
        .background{
            position: absolute;
            width: 100%;
            height: 100vh;
            top: 0;
            left: 0;
            margin: 0;
            padding: 0;
            overflow: hidden;
            li{
                position: absolute;
                list-style: none;
                &:first-child{
                    top: 27vh;
                    left: 5vw;
                    padding: 8px 20px;
                    border-radius: 25px;
                    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.13);
                    background-color: $light-color;
                    z-index: 2;
                }
                &:nth-child(2){
                    top: 27vh;
                    left: 70vw;
                }
                &:nth-child(3){
                    top: 75vh;
                    left: 10vw;
                    padding: 8px 10px;
                    border-radius: 8px;
                    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.13);
                }
                &:nth-child(4){
                    top: 65vh;
                    left: 25vw;
                }
                &:nth-child(5){
                    top: 70vh;
                    left: 75vw;
                    padding: 8px 20px;
                    border-radius: 25px;
                    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.13);
                    background-color: $light-color;
                    z-index: 2;
                }
            }
        }
    }
}

@media (max-width:991px) {
    #hero-area {
        min-height: initial;
        align-items: flex-start;
    }
}
footer {
   
}