@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;600;700;800&display=swap');
$primary-color: #3E1A51;
$secondary-color: #9B0E8E;
$light-color: #fff;
$secondary-light-color: #FCFBFD;
$light-grey: #eee;
$label-bg: #FFF5D9;
$label-color: #FBBC05;
$bg-shade1: #FDE7F3;
$bg-shade2: #FFEAAB;



html, body{
    margin: 0;
    padding: 0;
    background-color: $secondary-light-color;
    font-family: 'Manrope', sans-serif;
    position: relative;
}

.overflow-hidden{
    overflow: hidden !important;
}
.yellow{
    background-color: $bg-shade2 !important;
}
.pink{
    background-color: $bg-shade1 !important;
}

*{
    transition: 0.2s;
}

a{
    text-decoration: none;
    color: #000;
    &:hover{
        color: #000;
    }
}
p{
    margin-bottom: 0;
}
i{
    cursor: pointer;
}
.solid-action-btn{
    background-color: $primary-color;
    color: #ffffff;
    border: none;
    margin-left: 1rem;
    padding: 0.35rem 1rem;
    box-shadow: 0 0px 8px rgba(0, 0, 0, 0.13);
    border-radius: 45px;
    font-size: 18px;
    font-weight: 500;
    &:hover{
        background-color: $light-color;
        color: $primary-color;
        border: 1px solid $primary-color;
        box-shadow: 0 4px 16px #00000029;
    }
}


.label{
    background-color: $label-bg;
    color: $label-color;
    padding: 6px 12px;
    border-radius: 25px;
    font-size: 14px;
}
.heading{
    font-size: 48px;
    font-weight: 800;
    margin: 16px 0;
}
.sub-heading{
    font-size: 18px;
    color: #36485C;
}

header{
    position: sticky;
    top: 0;
    padding: 0px 50px;
    background-color: $secondary-light-color;
    box-shadow: 0 4px 8px #00000010;
    display: grid;
    grid-template-columns: 165px auto 300px;
    z-index: 10;
    .brand{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1rem;
        a{
            img{
                width: 150px;
            }
        }
    }
    .menu , .cta-menu{
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        li{
            list-style:none;
            padding: 5px 24px;
            a{
                display: flex;
                align-items: center;
                text-decoration: none;
                font-size: 16px;
                font-weight: 600;
                img,i{
                    margin-left: 5px;
                }
                i{
                    font-size: 14px;
                }
                &:hover{
                    font-weight: 700;
                }
            }
        }
    }
}

section{
    padding: 70px 0 50px;
}

.hero-area-bg{
    background-image: url(../images/background.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 0;
}

.hero-area {
    min-height: 92vh;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    &::before{
        content: "";
        position: absolute;
        top: 5%;
        margin: auto;
        z-index: 1;
        left: 0px;
        width: 270px;
        height: 675px;
        background-image: url(../images/vector1.png);
        background-repeat: no-repeat;
    }
    &::after{
        content: "";
        position: absolute;
        bottom: -250px;
        margin: auto;
        z-index: 1;
        right: 0;
        width: 270px;
        height: 675px;
        background-image: url(../images/vector2.png);
        background-repeat: no-repeat;

    }
    .container{
        z-index: 2;
        .announce{
            border: 2px solid $light-grey;  
            padding: 8px 16px;
            border-radius: 18px;
            display: inline-block;
            img{
              margin-right: 8px;
            }
          }
          .contents{
              margin: 3rem 0;
              .head-title{
                  font-weight: 800;
                  font-size: 4rem;
                  letter-spacing: 1.5px;
                  margin-bottom: 2.5rem;
              }
              .description{
                  font-size: 18px;
                  font-weight: 500;
              }
          }
          .join-us{
              input{
                  padding: 1rem;
                  box-shadow: 0 0px 4px rgba(0, 0, 0, 0.13);
                  border-radius: 45px;
                  border: none;
                  font-size: 12px;
                  width: 400px;
                  &::placeholder{
                    color: #C5C5C5;
                  }
              }
              button{
                  font-size: 12px;
                  padding: 1rem 2rem;
              }
          }
    }
    .floating-elements{
        .background{
            position: absolute;
            width: 100%;
            height: 100vh;
            top: 0;
            left: 0;
            margin: 0;
            padding: 0;
            overflow: hidden;
            li{
                position: absolute;
                list-style: none;
                display: flex;
                align-items: center;
                &:first-child{
                    top: 21vh;
                    left: 7vw;
                    padding: 8px 20px;
                    border-radius: 25px;
                    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.13);
                    background-color: $light-color;
                    z-index: 2;
                    img{
                        width: 35px;
                        margin-left: 5px;
                    }
                }
                &:nth-child(2){
                    top: 27vh;
                    left: 75vw;
                }
                &:nth-child(3){
                    top: 50vh;
                    left: 10vw;
                    padding: 8px 10px;
                    border-radius: 8px;
                    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.13);
                }
                &:nth-child(4){
                    top: 65vh;
                    left: 25vw;
                }
                &:nth-child(5){
                    top: 50vh;
                    left: 80vw;
                    padding: 8px 20px;
                    border-radius: 25px;
                    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.13);
                    background-color: $light-color;
                    z-index: 2;
                    img{
                        width: 20px;
                        margin-left: 5px;
                    }
                }
            }
        }
    }
}

@media (max-width:991px) {
    #hero-area {
        min-height: initial;
        align-items: flex-start;
    }
}


.explore-features{
    overflow: hidden;
    padding-top: 0;
    .carousel{
        .carousel-indicators{
            position: unset;
            flex-direction: column;
            margin-left: 0;
            margin-right: 0;
            [data-bs-target]{
                text-indent: 0;
                width: unset;
                height: unset;
                background-color: #fff;
                box-shadow: 0 2px 6px #00000030;
                margin-bottom: 16px;
                padding: 24px 16px;
                border-radius: 8px;
                font-weight: bold;
                cursor: pointer;
                display: flex;
                white-space: nowrap;
                border-top: none;
                border-bottom: none;
            }
            .active{
                background-color: #7438FF20;
                color: $secondary-color;
            }
            @media(max-width:992px){
                display: grid;
                grid-template-columns: 50% 50%;
                justify-content: space-between;
                // overflow: auto;
                padding: 4px;
                [data-bs-target]{
                    padding: 8px 12px;
                    margin-right: 16px;
                    margin-bottom: 8px;
                    box-shadow: 0 1px 4px #00000030;
                }
            }
        }
        .carousel-inner{
            .carousel-item{
                .carousel-caption{
                    position: unset;
                    color: $primary-color;
                    padding-top: 0;
                    padding-bottom: 0;
                    p{
                        margin: auto 20px 20px;
                        .highlight{
                            font-weight: bold;
                            color: $secondary-color;
                            text-transform: uppercase;
                        }
                    }
                }
                img{
                    width: 90%;
                    border-radius: 8px;
                    box-shadow: 0 2px 6px #00000030;
                    margin-bottom: 0.5rem !important;
                }
            }
        }
    }
    .tools-step{
        .step{
            text-align: center;
            transition: 1s;
            p{
                margin: auto 20px 20px;
                .highlight{
                    font-weight: bold;
                    color: $secondary-color;
                    text-transform: uppercase;
                }
            }
            img{
                width: 90%;
                border-radius: 8px;
                box-shadow: 0 2px 6px #00000030;
            }
        }
        .two, .three, .four{
            display: none;
        }
    }
    @media(max-width:992px){
        ul.about-nav{
            display: grid;
            grid-template-columns: 50% 50%;
            justify-content: space-between;
            // overflow: auto;
            padding: 4px;
            li{
                padding: 8px 12px;
                margin-right: 16px;
                margin-bottom: 8px;
                box-shadow: 0 1px 4px #00000030;
            }
        }
    }
    @media(max-width:768px){
        .head-title{
            font-size: 5vw;
        }
    }
    @media(max-width:576px){
        .carousel{
            .carousel-indicators{
                [data-bs-target]{
                    font-size: 12px;
                    margin-right: 8px;
                    padding: 8px;
                }
            }
        }
        .tools-step{
            .step{
                p{
                    font-size: 14px;
                    margin: auto 16px 16px;
                }
            }
        }
    }
    .title{
       margin: 16px 0 25px;
       font-size: 32px;
       font-weight: 800;
    }
    .features{
       .item{
           margin: 40px 0;
           h5{
               margin: 16px 0;
               font-weight: 700;
           }
       }
       .fade{
           opacity: .5;
       }
       .solid-action-btn{
           padding: 20px 30px;
           font-size: 16px;
           margin-left: 0;
       }
    }
    .dashboard-image{
       width: 140%;
       margin-left: 60px;
       border-radius: 12px;
       box-shadow: 0px 56px 232px -56px #00000040;
    }
 }

.what-makes-better,.what-makes-better2{
    .info{
        .imgdesk{
            background-color: $bg-shade1;
            padding: 22px 12px;
            border-radius: 8px;
        }
        .title{
            font-weight: 800;
            margin: 16px 0 0;
        }
        small{
            font-size: 14px;
        }
        .yellow{
            background-color: $bg-shade2;
        }
    }
}

.what-makes-better2{
    .label{
        background-color: $bg-shade1 !important;
        color: $primary-color;
    }
    .info{
        padding-left: 2rem;
        p{
            font-size: 16px;
        }
        h5{
            font-size: 42px;
            font-weight: 600;
            margin: 16px 0;
        }
        li{
            list-style: none;
            i{
                margin-right: 12px;
                color: $primary-color;
            }
        }
        a{
            color: $primary-color;
            font-size: 16px;
            font-weight: 700;
            .fas{
                
            }
        }
    }
    img{
        width: 100%;
    }
}

.blogs{
    .label{
        background-color: $bg-shade1 !important;
        color: $primary-color;
    }
    .card{
        border: none;
        background-color: transparent;
        img{
            width: 100%;
        }
        .body{
            margin: 16px 0;
            .label{
                font-weight: 600;
                padding: 2px 12px;
                font-size: 12px;
            }
            .time{
                color: #949494;
                font-size: 12px;
            }
            .content{
                padding: 16px 0 0;
                font-weight: 800;
                color: #36485C;
                font-size: 16px;
            }
        }
        .footer{
            a{
                font-weight: 700;
                font-size: 16px;
                color: $primary-color;
            }
        }
    }
}

.faq{
    .label{
        background-color: $bg-shade1 !important;
        color: $primary-color;
    }
    .accordion{
        min-width: 700px;
        .accordion-item{
            width: 100%;
        }
    }
}


