@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@500;600;700;800&display=swap");
html, body {
  margin: 0;
  padding: 0;
  background-color: #FAFAFA;
  font-family: 'Manrope', sans-serif;
  position: relative;
}

.overflow-hidden {
  overflow: hidden !important;
}

* {
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

a {
  text-decoration: none;
  color: #000;
}

a:hover {
  color: #000;
}

p {
  margin-bottom: 0;
}

i {
  cursor: pointer;
}

.solid-action-btn {
  background-color: #3E1A51;
  color: #ffffff;
  border: none;
  margin-left: 1rem;
  padding: 0.35rem 1rem;
  -webkit-box-shadow: 0 0px 8px rgba(0, 0, 0, 0.13);
          box-shadow: 0 0px 8px rgba(0, 0, 0, 0.13);
  border-radius: 45px;
  font-size: 18px;
  font-weight: 500;
}

.solid-action-btn:hover {
  background-color: #fff;
  color: #3E1A51;
  border: 1px solid #3E1A51;
  -webkit-box-shadow: 0 4px 16px #00000029;
          box-shadow: 0 4px 16px #00000029;
}

header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding: 0px 50px;
  background-color: #fff;
  -webkit-box-shadow: 0 4px 8px #00000010;
          box-shadow: 0 4px 8px #00000010;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 165px auto 300px;
      grid-template-columns: 165px auto 300px;
  z-index: 10;
}

header .brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1rem;
}

header .brand a img {
  width: 150px;
}

header .menu, header .cta-menu {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .menu li, header .cta-menu li {
  list-style: none;
  padding: 5px 24px;
}

header .menu li a, header .cta-menu li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
}

header .menu li a img, header .menu li a i, header .cta-menu li a img, header .cta-menu li a i {
  margin-left: 5px;
}

header .menu li a i, header .cta-menu li a i {
  font-size: 14px;
}

header .menu li a:hover, header .cta-menu li a:hover {
  font-weight: 700;
}

#hero-area {
  background-image: url(../images/background.svg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  /*min-height: 650px;*/
  min-height: 100vh;
  position: relative;
  overflow: hidden;
  padding: 20px 0 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#hero-area::before {
  content: "";
  position: absolute;
  top: 15%;
  margin: auto;
  z-index: 1;
  left: 0px;
  width: 270px;
  height: 675px;
  background-image: url(../images/vector1.png);
  background-repeat: no-repeat;
}

#hero-area::after {
  content: "";
  position: absolute;
  top: 35%;
  margin: auto;
  z-index: 1;
  right: 0;
  width: 270px;
  height: 675px;
  background-image: url(../images/vector2.png);
  background-repeat: no-repeat;
}

#hero-area .container {
  z-index: 2;
}

#hero-area .container .announce {
  border: 2px solid #eee;
  padding: 8px 16px;
  border-radius: 18px;
}

#hero-area .container .announce img {
  margin-right: 8px;
}

#hero-area .container .contents {
  margin: 3rem 0;
}

#hero-area .container .contents .head-title {
  font-weight: 800;
  font-size: 4rem;
  letter-spacing: 1.5px;
  margin-bottom: 2.5rem;
}

#hero-area .container .contents .description {
  font-size: 18px;
  font-weight: 500;
}

#hero-area .container .join-us input {
  padding: 0.5rem 1rem;
  -webkit-box-shadow: 0 0px 4px rgba(0, 0, 0, 0.13);
          box-shadow: 0 0px 4px rgba(0, 0, 0, 0.13);
  border-radius: 45px;
  border: none;
  font-size: 16px;
}

#hero-area .container .join-us input::-webkit-input-placeholder {
  font-size: 12px;
  color: #C5C5C5;
}

#hero-area .container .join-us input:-ms-input-placeholder {
  font-size: 12px;
  color: #C5C5C5;
}

#hero-area .container .join-us input::-ms-input-placeholder {
  font-size: 12px;
  color: #C5C5C5;
}

#hero-area .container .join-us input::placeholder {
  font-size: 12px;
  color: #C5C5C5;
}

#hero-area .container .join-us button {
  font-size: 16px;
}

#hero-area .floating-elements .background {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#hero-area .floating-elements .background li {
  position: absolute;
  list-style: none;
}

#hero-area .floating-elements .background li:first-child {
  top: 27vh;
  left: 5vw;
  padding: 8px 20px;
  border-radius: 25px;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.13);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.13);
  background-color: #fff;
  z-index: 2;
}

#hero-area .floating-elements .background li:nth-child(2) {
  top: 27vh;
  left: 70vw;
}

#hero-area .floating-elements .background li:nth-child(3) {
  top: 75vh;
  left: 10vw;
  padding: 8px 10px;
  border-radius: 8px;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.13);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.13);
}

#hero-area .floating-elements .background li:nth-child(4) {
  top: 65vh;
  left: 25vw;
}

#hero-area .floating-elements .background li:nth-child(5) {
  top: 70vh;
  left: 75vw;
  padding: 8px 20px;
  border-radius: 25px;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.13);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.13);
  background-color: #fff;
  z-index: 2;
}

@media (max-width: 991px) {
  #hero-area {
    min-height: initial;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
/*# sourceMappingURL=main.css.map */